.card{
    height: 400px;
    width: 350px;
    background-color: aqua;
    border: 3px solid #212121;
    margin: 10px;
    padding: 10px;
}

.followers{
    margin: 20px;
    padding: 5px;
}

/* .card:nth-child(2){
    margin: 10px;
    padding: 10px;
    border: 5px solid red;

} */